.graph-container{
  display: flex;
  flex-direction: row;
}

#legend {
  margin-left: 10px;
  min-width: 150px;
  width: 150px;
  font-size: 12px;
}



.button0 {
  background-color: #ff6384; 
  border: none;
  color: white;
  padding: 5px 15px;
  margin: 0px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  box-shadow: 2px 2px #dddddd;
}


.button1 {
  background-color: #36a2eb; 
  border: none;
  color: white;
  padding: 5px 15px;
  margin: 0px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  box-shadow: 2px 2px #dddddd;
}

.button2 {
  background-color: #ffcd56; 
  border: none;
  color: white;
  padding: 5px 15px;
  margin: 0px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  box-shadow: 2px 2px #dddddd;
}

.button3 {
  background-color: #4bc0c0; 
  border: none;
  color: white;
  padding: 5px 15px;
  margin: 0px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  box-shadow: 2px 2px #dddddd;
}

.button4 {
  background-color: #9966ff; 
  border: none;
  color: white;
  padding: 5px 15px;
  margin: 0px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  box-shadow: 2px 2px #dddddd;
}


.button5 {
  background-color: #c9cbcf; 
  border: none;
  color: white;
  padding: 5px 15px;
  margin: 0px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  box-shadow: 2px 2px #dddddd;
}


.button6 {
  background-color: #9dd1f5; 
  border: none;
  color: white;
  padding: 5px 15px;
  margin: 0px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  box-shadow: 2px 2px #dddddd;
}

